%section.video-player
  .row
    .column
      .video-wrapper
        = video_tag @src || 'jeep_day.mp4', controls: true, class: 'video'
%section.posters
  .row
    .column.videos
      .poster(value='jeep_day')
        = image_tag 'pages/our_work/placeholder.png'
      .poster(value='jeep_unmelting')
        = image_tag 'pages/our_work/placeholder.png'
      .poster(value='mike_the_barber')
        = image_tag 'pages/our_work/placeholder.png'
      .poster(value='submaster')
        = image_tag 'pages/our_work/placeholder.png'
      .poster(value='trackhawk')
        = image_tag 'pages/our_work/placeholder.png'
%h1
  = @our_work
