.place-holder

%section.header-section
  .row
    .column
      %h1.header Our Work
%section.video-player
  .row
    .column.test
      .video-wrapper
%section.posters
  .row
    .column.videos
      .poster.relative.gymboree(value='rocket')
        = image_tag 'pages/our_work/rocket.jpg'
        .hover-info
          .wrapper.center-text
            %h2 My Chevy is a Rocket
      .poster.relative.gymboree(value='gymboree')
        = image_tag 'pages/our_work/gymboree.jpg'
        .hover-info
          .wrapper.center-text
            %h2 Gymboree
      .poster.relative.biolite(value='biolite')
        = image_tag 'pages/our_work/biolite.jpg'
        .hover-info
          .wrapper.center-text
            %h2 Biolite
      .poster.relative.bcbsm_2(value='bcbsm_2')
        = image_tag 'pages/our_work/bcbsm_2.jpg'
        .hover-info
          .wrapper.center-text
            %h2 BCBSM | Dr. Daniels
      .poster.relative.bcbsm(value='bcbsm')
        = image_tag 'pages/our_work/bcbsm.jpg'
        .hover-info
          .wrapper.center-text
            %h2 BCBSM | City on a Hill
      .poster.relative.jeep-day(value='jeep_day')
        = image_tag 'pages/our_work/jeep_day.jpg'
        .hover-info
          .wrapper.center-text
            %h2 4X4 Day | JEEP
      .poster.relative.jeep-unmelting(value='jeep_unmelting')
        = image_tag 'pages/our_work/unmelting.jpg'
        .hover-info
          .wrapper.center-text
            %h2 The Unmelting | JEEP
      .poster.relative.mike-the-barber(value='mike_the_barber')
        = image_tag 'pages/our_work/mike.jpg'
        .hover-info
          .wrapper.center-text
            %h2 Mike The Barber
      .poster.relative.submaster(value='submaster')
        = image_tag 'pages/our_work/submaster.jpg'
        .hover-info
          .wrapper.center-text
            %h2 Submaster | Ford
      .poster.relative.trackhawk(value='trackhawk')
        = image_tag 'pages/our_work/trackhawk.jpg'
        .hover-info
          .wrapper.center-text
            %h2 Trackhawk | JEEP
