.place-holder

#case-study.center-text.jeep-day-case-study
  %section.even-padding.one.even-padding
    .row.align-middle
      .column.large-6.small-12
        = image_tag 'pages/jeep/jeep_8.jpg'
      .column.large-6.small-12
        %h2.header 4X4 DAY | JEEP
        %p.paragraph So JEEP Brand calls us and says, “Hey, we need help breaking a few hundred thousand employees out of the workspace this 4X4 Day (April 4th), can you help us?”
        %p.paragraph Because here at Tibbs Inc. we’re all about sticking it to the man, we unequivocally accepted the mission – Let’s Go!
  %section.even-padding.two
    .row.align-middle
      .column.large-6.small-12.large-order-2
        = image_tag 'pages/jeep/jeep_7.jpg'
      .column.large-6.small-12.large-order-1
        %p.paragraph “We were shooting a spring spot at the beginning of March in the Midwest. It was important to keep the off-roading footage as indefinite as we could. We’re hoping you the viewer didn’t notice the chunks of ice floating in the mud puddles we ran the vehicles through.”
  %section.even-padding.three
    .row.align-middle
      .column.large-6.small-12
        = image_tag 'pages/jeep/jeep_2.jpg'
      .column.large-6.small-12
        %h2.header The Task
        %p.paragraph Jeep brand asked us to film 4 scripts that would be used to break Jeep owners out of the office on 4X4 Day. These spots needed to be snappy and smart. Our main gag was to incorporate a lifelike mannequin in place of our principal employee. Once we broke her out, we needed to get the Wrangler from a typical office location to a dramatic off-road space to help sell the escape.
  %section.even-padding.four
    .row.align-middle
      .column.large-6.small-12.large-order-2
        = image_tag 'pages/jeep/jeep_1.jpg'
      .column.large-6.small-12.large-order-1
        %h2.header Pre-Production
        %p.paragraph We wanted to contrast the doldrums of cubicle life with the excitement of mud bogging in a Wrangler. It was a pleasant surprise to find most offices have gotten away from the paper-pushing cubicles we’ve come to despise. We needed to find a place that was cool enough for our Jeep owner to be working, yet, dated enough to want to escape from. Tracking down the perfect office proved to be the real undertaking.
        %p.paragraph “We wanted tall grey cubicles, big printers, and a halogen drop-ceiling.”
  %section.even-padding.five
    .row.align-middle
      .column.large-6.small-12
        = image_tag 'pages/jeep/jeep_3.jpg'
      .column.large-6.small-12
        %h2.header Production
        %p.paragraph We certainly felt the pressures of our schedule, we had a day to dress an office and break two employees out 4 different ways. We then needed to move our crew over 100 miles West to an old gravel mine to shoot the off-roading footage.
        %p.paragraph **Fun fact, the gravel out of that mine was used to lay a foundation on across some of Michigan’s largest highways.
  %section.even-padding.six
    .row.align-middle
      .column.large-6.small-12.large-order-2
        = image_tag 'pages/jeep/jeep_4.jpg'
      .column.large-6.small-12.large-order-1
        %h2.header Escape Routes
        %p.paragraph We decided that the use of graphic splits in our story would help keep the pace of the story up as well as juxtapose the fun our hero employee is having out on the trails while her counterpart is stuck in the office. Each escape route has its unique plan of attack, but all of them end with seamless success.
  %section.even-padding.seven
    .row.align-middle
      .column.large-6.small-12
        = image_tag 'pages/jeep/jeep_6.jpg'
      .column.large-6.small-12
        %h2.header Post-Production
        %p.paragraph Like most social pieces, it was important to create a high-impact narrative in a short amount of time. We wanted to tell two stories at once – the employee who got away, contrasted with the employee who was stuck in the office eating half of a sandwich. We implemented graphic lines that cut through the center, both vertically and horizontally throughout the piece that kept the pace high but covered off on all of the details we wanted the viewer to see.
  %section.even-padding.eight.video
    .row
      .column
        = video_tag 'http://www.tibbsinc.com/videos_full_size/jeep_day.mp4', autoplay: false, loop: false, controls: true, muted: false
