.place-holder

#case-study.center-text.mike-case-study
  %section.even-padding.one
    .row.align-middle
      .column.large-6.small-12
        = image_tag 'pages/mike/mike_1.jpg'
      .column.large-6.small-12
        %h2.header A Chance Encounter
        %p.paragraph.margin-top-bottom “My wife and I had a wedding to attend in June 2016. I remember having a pretty hectic week at work and was unable to get a haircut before the event. We were driving past this little one-room barbershop names Mike’s. I stopped in for a quick lineup and ended up befriending one of the kindest and quirkiest humans I had ever met.” – Ryan Wiese, Director
  %section.even-padding.two
    .row.align-middle
      .column.large-6.small-12.large-order-2
        = image_tag 'pages/mike/mike_6.jpg'
      .column.large-6.small-12.large-order-1
        %h2.header Finding the Story
        %p.paragraph.margin-top-bottom His barbershop is a blast from another time. It looked as though it had been decorated some 40 years ago and hadn’t been touched since. The first thing you notice when you walk into the shop is the abundance of Ohio State University memorabilia. Mike was fully aware that he owned a barbershop in the heart of Wolverine country, yet he hung the pro-Buckeye gear to get his customers, “hot under the collar”. He said, “for better or worse, they’re going to remember me.” He told this and other incredible stories which left me knowing his story needed to be brought to life.
  %section.even-padding.four.western
    .row
      .column.small-6
        = image_tag 'pages/mike/mike_5.jpg'
      .column.small-6
        = image_tag 'pages/mike/mike_3.jpg'
      .column.small-12
        %p.paragraph.margin-top-bottom Mike always has Western movies playing in the barbershop. Our DP Jerome recalled a very memorable scene in a John Wayne movie. We began explaining the scene him. Mike knew exactly the movie, Hondo, starring John Wayne, and had a copy on VHS for us to use. We ended up using that copy in the piece.
  %section.even-padding.three.no-copy
    .row.align-middle
      .column
        = image_tag 'pages/mike/mike_4.jpg', class: 'width-100'
  %section.even-padding.five
    .row.align-middle
      .column.large-6.small-12
        = image_tag 'pages/mike/mike_2.jpg'
      .column.large-6.small-12
        %h2.header The Perfect Song
        %p.paragraph.margin-top-bottom We ended up using a song by The Peddlers, On a Clear Day You Can See Forever. It was the first song that came to mind after the day we spent shooting with Mike and never changed. When we cut the initial edit the shot in the piece that follows our customer (Dan John Miller) from his boots up the chair to his hair just happened to land on the drum fill into the organ solo. After we saw that we cut the rest of the video around that specific shot and part in the song.
  %section.even-padding.even-padding.six.no-copy
  %section.even-padding.even-padding.seven
    .row.align-middle
      .column.large-6.small-12.large-order-2
        = image_tag 'pages/mike/mike_7.jpg'
      .column.large-6.small-12.large-order-1
        %h2.header Story Development
        %p.paragraph.margin-top-bottom The piece was created to detail a day in the life of an incredible man, who has spent most of his days cutting hair in a one-roomed barbershop. While we were filming, a 55-year-old man came in and recounted getting his first haircut from Mike right before his senior prom. It ended up taking months of visits, conversations, haircuts, and pre-production before we knew in what light we planned to tell his story.
  %section.even-padding.even-padding.eight.video
    .row
      .column
        = video_tag 'http://tibbsinc.com/videos_full_size/mike_the_barber.mp4', autoplay: false, loop: false, controls: true, muted: false
