%section.video-player

%section.posters
  .row
    .column
      .poster
        = image_tag 'pages/our_work/placeholder.png'
      .poster
        = image_tag 'pages/our_work/placeholder.png'
      .poster
        = image_tag 'pages/our_work/placeholder.png'
      .poster
        = image_tag 'pages/our_work/placeholder.png'
      .poster
        = image_tag 'pages/our_work/placeholder.png'
      .poster
        = image_tag 'pages/our_work/placeholder.png'
      .poster
        = image_tag 'pages/our_work/placeholder.png'
      .poster
        = image_tag 'pages/our_work/placeholder.png'
      .poster
        = image_tag 'pages/our_work/placeholder.png'
      .poster
        = image_tag 'pages/our_work/placeholder.png'
      .poster
        = image_tag 'pages/our_work/placeholder.png'
      .poster
        = image_tag 'pages/our_work/placeholder.png'
