%header
  = link_to root_path, class: 'logo black-logo hide' do
    =image_tag 'layouts/logo_black.png'
  = link_to root_path, class: 'logo white-logo' do
    =image_tag 'layouts/logo_white.png'
  %div.hamburger.hamburger--squeeze{type: 'button'}
    %div.hamburger-box
      %div.hamburger-inner
.menu
  %ul
    %li
      = link_to 'Company', root_path, class: 'nav-link uppercase'
    %li
      = link_to 'Case Studies', case_studies_path, class: 'nav-link uppercase'
    %li
      = link_to 'Our Work', our_work_path, class: 'nav-link uppercase'
    %li
      = link_to 'Studio', studio_path, class: 'nav-link uppercase'
    %li
      = link_to 'Bio', '#', class: 'nav-link uppercase coming-soon'
    %li
      = link_to 'Contact', '#', class: 'nav-link uppercase'

:javascript
  var prevText;

  $('.coming-soon').mouseenter(function() {
    prevText = $(this).text();
    $(this).text('COMING SOON');
  });

  $('.coming-soon').mouseout(function() {
    $(this).text(prevText);
  });
